<%- include('parts/head', {bot, user, path}) %>
<link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/fonts/simple-line-icons/style.min.css">
<link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/colors.min.css">

<title>Privacy policy | Eagle-Bot-List</title>
<br>
<br>
<br>
<div class="container privacy mb-2 ">
  <span class="text-muted has-text-white">Updated on: March 23, 2022</span>
    <h3 class="has-text-white is-size-3" style=margin-bottom:10px></h3>
    <h1 class="has-text-white privacy-title ">Privacy Policy</h1>
    <p class="text-muted has-text-white">At Eagle-Bot-List, one of our main priorities is the privacy of our visitors. This Privacy Policy document contains types of information that is collected and recorded by Eagle-Bot-List and how we use it.<br><br>If you have additional questions or require more information about our Privacy Policy, do not hesitate to contact us.<br><br>This Privacy Policy applies only to our online activities and is valid for visitors to our website with regards to the information that they shared and/or collect in Eagle-Bot-List. This policy is not applicable to any information collected offline or via channels other than this website.</p><br>
    <h1 class="has-text-white privacy-title">Information we collect</h1>
    <p class="text-muted has-text-white">The personal information that you are asked to provide, and the reasons why you are asked to provide it, will be made clear to you at the point we ask you to provide your personal information.<br><br>On first login we collect, Discord IDs, Discord discriminator, Discord avatar, along with a unique token, and a unidentifiable hash.<br><br>You may see our Service advertised in other applications or websites. Advertising platforms, which include Twitter and Facebook (and whose SDKs are integrated within our Service), may collect information for optimizing advertising campaigns outside of the Service.<br><br>If you do not wish to receive personalized advertising that is delivered by third parties outside of the Service, you may be able to exercise that choice through opt-out programs that are administered by third parties.<br></p>
    <h1 class="has-text-white privacy-title">Cookies</h1>
    <p class="text-muted has-text-white">Like any other website, Eagle-Bot-List uses 'cookies'. These cookies are used to store information including visitors' preferences, and the pages on the website that the visitor accessed or visited. The information is used to optimize the users' experience by customizing our web page content based on visitors' browser type and/or other information.<br><br>For more general information on cookies, please read a 
      <a href="https://www.cookieconsent.com/what-are-cookies" target=_BLANK>What Are
        Cookies</a> Cookies from Cookie Consent.<br></p>
    <h1 class="has-text-white privacy-title">Use of information</h1>
    <p class="text-muted has-text-white">We use the information you provide in a manner consistent with this privacy policy. If you provide information for a certain reason, we may use the information in connection with the reason for which it was provided.<br><br>Additionally, if you provide information in order to gain access to the Services, we will use your information to provide you with access to those services and to monitor your use of those services. The Company and its affiliates may also use your information collected through the Services to help us improve the content and functionality of the Services, better understand our users, and improve the Services.<br><br>The Company and its affiliates may use this information to contact you in the future to inform you of services which we believe may be of interest to you. If we do so, each marketing communication we send to you will contain instructions allowing you to "opt out" of receiving future marketing communications. Additionally, if at any time you wish to opt out of receiving future marketing communications or wish to have your name removed from our mailing lists, please contact us as set out below.<br></p>
    <h1 class="has-text-white privacy-title">Contact us</h1>
    <p class="text-muted has-text-white">If you have any questions or suggestions concerning our privacy policy, please feel free to contact us on our <a href=/dc target=_BLANK>Discord Server</a>.<br></p>
</div><br><br>

<%- include('parts/foot') %>